# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
htmlcov/
.tox/
.coverage
.pytest_cache/

# Translations
*.mo
*.po

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Wilson Eval3ngine specific
var/
*.db
*.sqlite
*.sqlite3
.dev-ed25519-signing-key.pem

# Local development
.local/
*.local